.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
  margin: 3% 0 1% 0;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("https://res.cloudinary.com/dcyxkrt7p/image/upload/v1592764588/showcase.jpg");
  background-repeat: none;
  background-position: -200px -400px;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: calc(4px + 2vmin);
  color: #fff;
}

.login-reminder {
  background-color: #926239;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 10px;
  color: coral;
  border: 1px solid coral;
  text-align: center;
}
.button:hover{
  color: #fff;
  text-decoration: none;
  background-color: coral;
}

.login-reminder-button{
  background-color: coral;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
}

.login-reminder-button:hover{
  color: coral;
  background-color: #fff;
  text-decoration: none;
}

nav{
  float: right;
  padding: 15px 15px 0 0;
  margin: 0 10px;
  background-color: coral;
}

.nav-links{
  min-height: 50px;
  width: 100%;
  background-color: coral;
  color: #fff;
}

.nav-links a{
  float: left;
  padding: 15px 15px 10px 0;
}

.story-cards ol li:nth-child(odd) .card{
  background-color: #f4f4f4;
  border-bottom: 1px solid coral;
}

.story-card-container{
  /* opacity: 0.9; */
  background-image: url("https://res.cloudinary.com/dcyxkrt7p/image/upload/v1591888252/beach-sand.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  border: 1px solid coral;
}

.story-card-container h3{
  font-size: 50px;
  line-height: 1.2;
  color: #926239;
}
.story-card-container p{
  line-height: 1.8;
  color: #926239;
  margin-top: 1rem;
}

.comment-form{
  background-color:  #f4f4f4;
  padding: 1rem;
}

.comment-form button{
  border-radius: 10px;
  padding: 5px 10px;
  color: #926239;
  border: 1px solid #936239;
  margin-top: 10px;
}
.comment-form button:hover{
  color: #fff;
  background-color: #936239;
}

.comment-form form textarea{
  color: #926239;
  text-align: center;
}
.comments-container{
  background-color:  #926239;
  padding: 1rem 0;
  color: #fff;
}

.post-form-container{
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid coral;
  padding-bottom: 1rem;
}

.post-form-container input, .post-form-container textarea{
  width: 75%;
  border: 1px solid coral;
}
.post-form-container *{
  padding: 1% 0;
}
.post-form-container label{
  font-size: 1.6rem;
}

.post-form-container button{
  color: coral;
  padding: 3px 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid coral;
  margin-top: 1rem;
}
.post-form-container button:hover{
  color: #fff;
  background-color: coral;
}

.post-form-header{
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: coral;
}

.post-form-footer{
  background-color: coral;
  min-height: 50px;
  text-align: center;
  color: #fff;
  padding: 15px 0 10px 0;
}

.post-cards-container{
  border: 1px solid coral;
}

.post-cards-header{
  background-image: url("https://res.cloudinary.com/dcyxkrt7p/image/upload/v1591554342/background-skyline.gif");
  background-position: center -200px;
  background-repeat: none;
  min-height: 30vh;
}

.newsletter{
  background-color: #35424a;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.post-cards-container .card{
  background-color: #f4f4f4;
}
